<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>
    <link rel="stylesheet" href="../staticAdmin/css/pintuer.css">
    <link rel="stylesheet" href="../staticAdmin/css/admin.css">
    <script src="../staticAdmin/js/jquery.js"></script>
</head>
<body style="background-color:#f2f9fd;">
    <!-- 引入公用的头部和导航栏 -->
    <% include public/header.ejs %>
    <% include public/nav.ejs %>

    <ul class="bread">
      <li><a href="/admin" class="icon-home"> 首页</a></li>
    </ul>
    <div class="admin">
        <h3>欢迎使用网站后台管理系统</h3>
    </div>
</body>
</html>